In [ ]:
from tensorflow.keras import layers, models, Model
import numpy as np
import pandas as pd

In [25]:
# Import the data
path = 'Project3database.csv'
df = pd.read_csv(path)
df.head()

,Year,Tm,#Bat,BatAge,R/G,G,PA,AB,RS,H,...,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,Playoff,Champion
0,2023,Arizona Diamondbacks,54,27.4,4.60,162,6124,5436,746,1359,...,56,134,0.990,43,4,46.0,0.0,9.0,1,0
1,2023,Atlanta Braves,53,27.9,5.85,162,6249,5597,947,1543,...,82,133,0.986,21,2,16.0,0.0,2.0,1,0
2,2023,Baltimore Orioles,50,27.2,4.98,162,6123,5495,807,1399,...,71,140,0.988,37,3,34.0,0.0,-3.0,1,0
3,2023,Boston Red Sox,56,28.6,4.77,162,6174,5562,772,1437,...,102,137,0.982,-17,-2,-20.0,-2.0,-2.0,0,0
4,2023,Chicago Cubs,48,28.4,5.06,162,6220,5504,819,1399,...,92,137,0.984,9,1,36.0,0.0,1.0,0,0

In [26]:
#Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 83 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      720 non-null    int64
 1   Tm        720 non-null    object
 2   #Bat      720 non-null    int64
 3   BatAge    720 non-null    float64
 4   R/G       720 non-null    float64
 5   G         720 non-null    int64
 6   PA        720 non-null    int64
 7   AB        720 non-null    int64
 8   RS        720 non-null    int64
 9   H         720 non-null    int64
 10  2B        720 non-null    int64
 11  3B        720 non-null    int64
 12  HR        720 non-null    int64
 13  RBI       720 non-null    int64
 14  SB        720 non-null    int64
 15  CS        720 non-null    int64
 16  BB        720 non-null    int64
 17  SO        720 non-null    int64
 18  BA        720 non-null    float64
 19  OBP       720 non-null    float64
 20  SLG       720 non-null    float64
 21  OPS       720 non-null    float64
 22  OPS+      720 non-null    int64
 23  TB        720 non-null    int64
 24  GDP       720 non-null    int64
 25  HBP       720 non-null    int64
 26  SH        720 non-null    int64
 27  SF        720 non-null    int64
 28  IBB       720 non-null    int64
 29  LOB       720 non-null    int64
 30  #P        720 non-null    int64
 31  PAge      720 non-null    float64
 32  RA/G      720 non-null    float64
 33  W         720 non-null    int64
 34  L         720 non-null    int64
 35  W-L%      720 non-null    float64
 36  ERA       720 non-null    float64
 37  GS        720 non-null    int64
 38  GF        720 non-null    int64
 39  CG        720 non-null    int64
 40  tSho      720 non-null    int64
 41  cSho      720 non-null    int64
 42  SV        720 non-null    int64
 43  IP        720 non-null    float64
 44  H.1       720 non-null    int64
 45  RA        720 non-null    int64
 46  ER        720 non-null    int64
 47  HR.1      720 non-null    int64
 48  BB.1      720 non-null    int64
 49  IBB.1     720 non-null    int64
 50  SO.1      720 non-null    int64
 51  HBP.1     720 non-null    int64
 52  BK        720 non-null    int64
 53  WP        720 non-null    int64
 54  BF        720 non-null    int64
 55  ERA+      720 non-null    int64
 56  FIP       720 non-null    float64
 57  WHIP      720 non-null    float64
 58  H9        720 non-null    float64
 59  HR9       720 non-null    float64
 60  BB9       720 non-null    float64
 61  SO9       720 non-null    float64
 62  SO/W      720 non-null    float64
 63  LOB.1     720 non-null    int64
 64  #Fld      720 non-null    int64
 65  RA/G.1    720 non-null    float64
 66  DefEff    720 non-null    float64
 67  GS.1      720 non-null    int64
 68  CG.1      720 non-null    int64
 69  Inn       720 non-null    float64
 70  Ch        720 non-null    int64
 71  PO        720 non-null    int64
 72  A         720 non-null    int64
 73  E         720 non-null    int64
 74  DP        720 non-null    int64
 75  Fld%      720 non-null    float64
 76  Rtot      720 non-null    int64
 77  Rtot/yr   720 non-null    int64
 78  Rdrs      330 non-null    float64
 79  Rdrs/yr   630 non-null    float64
 80  Rgood     596 non-null    float64
 81  Playoff   720 non-null    int64
 82  Champion  720 non-null    int64
dtypes: float64(25), int64(57), object(1)
memory usage: 467.0+ KB

In [27]:
#Drop columns
clean_df = df.drop(['Tm','Rdrs/yr','Rgood','Rdrs'], axis=1)
clean_df

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,2023,54,27.4,4.60,162,6124,5436,746,1359,274,...,5761,4306,1399,56,134,0.990,43,4,1,0
1,2023,53,27.9,5.85,162,6249,5597,947,1543,293,...,5741,4320,1339,82,133,0.986,21,2,1,0
2,2023,50,27.2,4.98,162,6123,5495,807,1399,309,...,5876,4361,1444,71,140,0.988,37,3,1,0
3,2023,56,28.6,4.77,162,6174,5562,772,1437,339,...,5821,4290,1429,102,137,0.982,-17,-2,0,0
4,2023,48,28.4,5.06,162,6220,5504,819,1399,269,...,5888,4306,1490,92,137,0.984,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2000,36,29.9,5.71,162,6418,5519,925,1535,304,...,6070,4333,1644,93,173,0.985,6,1,1,0
716,2000,46,29.6,5.48,162,6369,5478,887,1481,259,...,5936,4301,1524,111,148,0.981,43,4,1,0
717,2000,51,30.1,4.55,161,6206,5505,733,1414,253,...,6226,4294,1814,118,169,0.981,10,1,0,0
718,2000,42,29.5,5.23,162,6364,5648,848,1601,330,...,6016,4287,1594,135,162,0.978,-62,-6,0,0
719,2000,45,28.1,5.31,162,6326,5677,861,1562,328,...,6091,4312,1679,100,176,0.984,1,0,0,0

In [28]:
#Drop null values
clean_df.dropna()

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,2023,54,27.4,4.60,162,6124,5436,746,1359,274,...,5761,4306,1399,56,134,0.990,43,4,1,0
1,2023,53,27.9,5.85,162,6249,5597,947,1543,293,...,5741,4320,1339,82,133,0.986,21,2,1,0
2,2023,50,27.2,4.98,162,6123,5495,807,1399,309,...,5876,4361,1444,71,140,0.988,37,3,1,0
3,2023,56,28.6,4.77,162,6174,5562,772,1437,339,...,5821,4290,1429,102,137,0.982,-17,-2,0,0
4,2023,48,28.4,5.06,162,6220,5504,819,1399,269,...,5888,4306,1490,92,137,0.984,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2000,36,29.9,5.71,162,6418,5519,925,1535,304,...,6070,4333,1644,93,173,0.985,6,1,1,0
716,2000,46,29.6,5.48,162,6369,5478,887,1481,259,...,5936,4301,1524,111,148,0.981,43,4,1,0
717,2000,51,30.1,4.55,161,6206,5505,733,1414,253,...,6226,4294,1814,118,169,0.981,10,1,0,0
718,2000,42,29.5,5.23,162,6364,5648,848,1601,330,...,6016,4287,1594,135,162,0.978,-62,-6,0,0
719,2000,45,28.1,5.31,162,6326,5677,861,1562,328,...,6091,4312,1679,100,176,0.984,1,0,0,0

In [52]:
#Describe the data
# display all columns
pd.set_option('display.max_columns', None)
print(clean_df.describe())

              Year        #Bat      BatAge         R/G           G  \
count   720.000000  720.000000  720.000000  720.000000  720.000000
mean   2011.500000   47.930556   28.660278    4.564194  157.708333
std       6.926999    6.065535    1.307156    0.510573   20.417913
min    2000.000000   34.000000   25.400000    3.170000   58.000000
25%    2005.750000   44.000000   27.800000    4.220000  162.000000
50%    2011.500000   47.000000   28.600000    4.540000  162.000000
75%    2017.250000   51.000000   29.500000    4.900000  162.000000
max    2023.000000   69.000000   33.500000    6.040000  163.000000

                PA           AB          RS            H          2B  \
count   720.000000   720.000000  720.000000   720.000000  720.000000
mean   6029.109722  5378.838889  719.450000  1384.966667  276.601389
std     804.285879   716.705082  122.748055   207.974680   47.398623
min    2011.000000  1752.000000  219.000000   390.000000   73.000000
25%    6096.000000  5462.750000  672.750000  1351.750000  263.750000
50%    6187.000000  5523.000000  730.000000  1416.000000  281.000000
75%    6271.500000  5578.250000  790.000000  1481.000000  302.000000
max    6537.000000  5770.000000  978.000000  1667.000000  376.000000

               3B          HR         RBI          SB          CS          BB  \
count  720.000000  720.000000  720.000000  720.000000  720.000000  720.000000
mean    27.866667  171.402778  685.690278   89.294444   34.209722  508.033333
std      9.852684   41.415416  117.978758   32.310635   11.950718   93.091825
min      3.000000   51.000000  204.000000   14.000000    3.000000  147.000000
25%     21.000000  146.000000  640.000000   66.000000   26.000000  466.000000
50%     28.000000  171.000000  695.000000   87.000000   34.000000  517.000000
75%     34.000000  199.250000  754.250000  110.000000   42.000000  564.000000
max     61.000000  307.000000  932.000000  200.000000   74.000000  775.000000

                SO         BA         OBP         SLG         OPS        OPS+  \
count   720.000000  720.00000  720.000000  720.000000  720.000000  720.000000
mean   1165.368056    0.25699    0.325478    0.414703    0.740171   97.177778
std     216.554931    0.01342    0.014650    0.027243    0.039548    8.577978
min     440.000000    0.21200    0.281000    0.335000    0.626000   73.000000
25%    1043.000000    0.24800    0.316000    0.396000    0.712000   91.000000
50%    1166.000000    0.25700    0.325000    0.413500    0.740000   97.000000
75%    1322.250000    0.26700    0.336000    0.433000    0.767000  102.250000
max    1654.000000    0.29400    0.367000    0.501000    0.851000  125.000000

                TB         GDP         HBP          SH          SF  \
count   720.000000  720.000000  720.000000  720.000000  720.000000
mean   2231.509722  119.925000   57.412500   41.768056   41.959722
std     338.386509   22.908111   15.926836   23.389139   10.342926
min     650.000000   28.000000   10.000000    0.000000    7.000000
25%    2156.000000  111.000000   47.000000   24.000000   36.000000
50%    2283.000000  122.000000   56.000000   40.000000   42.000000
75%    2399.000000  134.000000   67.000000   60.000000   49.000000
max    2832.000000  170.000000  112.000000  119.000000   75.000000

              IBB          LOB          #P        PAge        RA/G  \
count  720.000000   720.000000  720.000000  720.000000  720.000000
mean    34.826389  1097.187500   25.704167   28.605278    4.564153
std     16.502762   157.060744    5.301742    1.331798    0.556494
min      1.000000   337.000000   15.000000   25.300000    3.170000
25%     23.750000  1080.000000   22.000000   27.700000    4.160000
50%     34.000000  1123.000000   25.000000   28.500000    4.520000
75%     45.000000  1165.250000   29.000000   29.325000    4.970000
max    153.000000  1301.000000   43.000000   34.200000    6.060000

                W           L        W-L%         ERA          GS          GF  \
count  720.000000  720.000000  720.000000  720.000000  720.000000  720.000000
mean    78.845833   78.845833    0.499996    4.248556  157.708333  153.638889
std     15.660510   15.644249    0.075294    0.549360   20.417913   20.041963
min     19.000000   17.000000    0.265000    2.800000   58.000000   56.000000
25%     71.000000   71.000000    0.444000    3.857500  162.000000  155.000000
50%     81.000000   79.000000    0.501500    4.200000  162.000000  158.000000
75%     90.000000   89.000000    0.556000    4.630000  162.000000  160.000000
max    116.000000  119.000000    0.717000    5.840000  163.000000  163.000000

               CG        tSho        cSho          SV           IP  \
count  720.000000  720.000000  720.000000  720.000000   720.000000
mean     4.069444    9.272222    1.697222   39.686111  1404.852083
std      3.333258    4.105128    1.549370    8.955698   186.152647
min      0.000000    0.000000    0.000000    6.000000   473.000000
25%      1.000000    6.000000    0.000000   35.000000  1434.000000
50%      3.000000    9.000000    1.000000   40.000000  1442.200000
75%      6.000000   12.000000    3.000000   45.000000  1452.125000
max     18.000000   23.000000    8.000000   66.000000  1495.000000

               H.1          RA          ER        HR.1        BB.1  \
count   720.000000  720.000000  720.000000  720.000000  720.000000
mean   1384.966667  719.450000  662.002778  171.402778  508.033333
std     212.010041  127.157761  118.199567   34.876480   89.979608
min     376.000000  209.000000  181.000000   62.000000  145.000000
25%    1349.000000  667.500000  610.750000  152.000000  469.000000
50%    1418.500000  727.000000  671.000000  173.000000  516.000000
75%    1488.000000  797.000000  733.000000  192.000000  560.000000
max    1683.000000  981.000000  913.000000  305.000000  728.000000

            IBB.1         SO.1       HBP.1          BK          WP  \
count  720.000000   720.000000  720.000000  720.000000  720.000000
mean    34.826389  1165.368056   57.412500    4.987500   52.956944
std     17.065337   215.719482   14.230591    2.647298   14.583206
min      0.000000   393.000000   14.000000    0.000000   11.000000
25%     23.000000  1046.750000   48.000000    3.000000   43.000000
50%     34.000000  1169.500000   58.000000    5.000000   52.000000
75%     44.000000  1304.500000   66.250000    7.000000   62.000000
max    107.000000  1687.000000  110.000000   15.000000   98.000000

                BF        ERA+         FIP        WHIP          H9  \
count   720.000000  720.000000  720.000000  720.000000  720.000000
mean   6029.102778  101.805556    4.255194    1.347136    8.860278
std     804.777256   11.123581    0.430664    0.099363    0.654570
min    1989.000000   77.000000    3.170000    1.048000    6.900000
25%    6095.750000   94.000000    3.940000    1.276750    8.400000
50%    6188.000000  101.000000    4.240000    1.345000    8.800000
75%    6274.500000  109.000000    4.560000    1.418250    9.300000
max    6559.000000  146.000000    5.560000    1.640000   10.600000

              HR9         BB9         SO9        SO/W        LOB.1  \
count  720.000000  720.000000  720.000000  720.000000   720.000000
mean     1.104167    3.263472    7.507778    2.346778  1095.141667
std      0.195810    0.424083    1.104383    0.500010   163.913490
min      0.600000    2.100000    4.800000    1.280000    46.000000
25%      1.000000    3.000000    6.600000    1.990000  1082.000000
50%      1.100000    3.200000    7.400000    2.280000  1125.000000
75%      1.200000    3.600000    8.300000    2.650000  1164.000000
max      1.900000    4.500000   11.000000    3.980000  1322.000000

             #Fld      RA/G.1      DefEff         GS.1        CG.1  \
count  720.000000  720.000000  720.000000   720.000000   720.00000
mean    47.583333    4.564153    0.691093  1419.375000  1077.15000
std      6.100343    0.556494    0.011789   183.761216   152.67282
min     34.000000    3.170000    0.642000   522.000000   355.00000
25%     43.000000    4.160000    0.683000  1458.000000  1061.75000
50%     47.000000    4.520000    0.691000  1458.000000  1109.00000
75%     51.000000    4.970000    0.699000  1458.000000  1147.00000
max     68.000000    6.060000    0.731000  1467.000000  1242.00000

                Inn           Ch           PO            A           E  \
count    720.000000   720.000000   720.000000   720.000000  720.000000
mean   12645.753056  5855.290278  4215.283333  1544.187500   95.819444
std     1675.394365   798.982923   558.470981   249.839252   20.731294
min     4257.000000  1941.000000  1419.000000   442.000000   20.000000
25%    12906.000000  5907.000000  4302.000000  1491.000000   85.000000
50%    12984.000000  6025.000000  4328.500000  1594.000000   97.000000
75%    13071.750000  6115.000000  4357.250000  1674.000000  108.000000
max    13455.000000  6459.000000  4485.000000  1951.000000  145.000000

               DP        Fld%        Rtot     Rtot/yr     Playoff    Champion
count  720.000000  720.000000  720.000000  720.000000  720.000000  720.000000
mean   141.241667    0.983635    1.076389    0.119444    0.312500    0.033333
std     26.806678    0.002692   34.754950    3.332674    0.463835    0.179630
min     33.000000    0.976000 -103.000000  -10.000000    0.000000    0.000000
25%    131.000000    0.982000  -22.000000   -2.000000    0.000000    0.000000
50%    144.000000    0.984000    2.000000    0.000000    0.000000    0.000000
75%    157.000000    0.985250   24.250000    2.000000    1.000000    0.000000
max    204.000000    0.991000  104.000000    9.000000    1.000000    1.000000

In [42]:
#Get mean value of dataset for baseline
mean_df = clean_df.mean().to_frame().T
mean_df

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,2011.5,47.930556,28.660278,4.564194,157.708333,6029.109722,5378.838889,719.45,1384.966667,276.601389,...,5855.290278,4215.283333,1544.1875,95.819444,141.241667,0.983635,1.076389,0.119444,0.3125,0.033333

In [32]:
#Get a dataframe for teams that made the playoffs for comparison to leverage statistics with the most deviation
df_playoffs = clean_df[clean_df['Playoff'] == 1]
df_playoffs

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,2023,54,27.4,4.60,162,6124,5436,746,1359,274,...,5761,4306,1399,56,134,0.990,43,4,1,0
1,2023,53,27.9,5.85,162,6249,5597,947,1543,293,...,5741,4320,1339,82,133,0.986,21,2,1,0
2,2023,50,27.2,4.98,162,6123,5495,807,1399,309,...,5876,4361,1444,71,140,0.988,37,3,1,0
10,2023,41,28.8,5.10,162,6253,5567,827,1441,280,...,5763,4336,1346,81,144,0.986,33,3,1,0
13,2023,58,30.9,5.59,162,6333,5524,906,1422,303,...,5821,4339,1406,76,139,0.987,42,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,2000,46,31.4,5.41,161,6311,5556,871,1541,294,...,5869,4273,1487,109,132,0.981,-22,-2,1,0
710,2000,44,27.3,5.88,161,6432,5560,947,1501,281,...,6166,4306,1726,134,164,0.978,-46,-4,1,0
714,2000,37,31.3,5.60,162,6444,5497,907,1481,300,...,6053,4325,1629,99,176,0.984,29,3,1,0
715,2000,36,29.9,5.71,162,6418,5519,925,1535,304,...,6070,4333,1644,93,173,0.985,6,1,1,0
716,2000,46,29.6,5.48,162,6369,5478,887,1481,259,...,5936,4301,1524,111,148,0.981,43,4,1,0

In [54]:
#Describe df_playoffs
df_playoffs.describe()

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,#P,PAge,RA/G,W,L,W-L%,ERA,GS,GF,CG,tSho,cSho,SV,IP,H.1,RA,ER,HR.1,BB.1,IBB.1,SO.1,HBP.1,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB.1,#Fld,RA/G.1,DefEff,GS.1,CG.1,Inn,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.00000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.0,225.000000
mean,2012.511111,46.400000,28.946222,4.872444,154.733333,5959.995556,5284.742222,754.711111,1383.182222,277.617778,26.444444,184.600000,720.328889,88.026667,31.520000,533.893333,1140.968889,0.260640,0.333173,0.428520,0.761707,103.075556,2267.488889,118.364444,59.151111,37.608889,43.382222,36.595556,1092.857778,24.915556,29.148000,4.150489,89.977778,64.728889,0.581080,3.847644,154.733333,150.444444,4.288889,11.182222,1.951111,43.520000,1383.939111,1298.697778,641.955556,590.791111,157.697778,465.284444,29.084444,1210.164444,54.008889,4.648889,49.36000,5839.995556,111.315556,3.985911,1.273484,8.419111,1.035111,3.040889,7.935111,2.652311,1049.208889,46.031111,4.150489,0.697307,1392.600000,1038.102222,12457.626667,5733.204444,4152.542222,1492.831111,87.831111,133.804444,0.984671,16.755556,1.666667,1.0,0.106667
std,6.977714,5.652907,1.330010,0.470047,26.306572,1043.777260,927.888316,148.945553,265.933728,57.423051,10.100291,46.033567,143.060921,34.082741,12.550996,109.105647,235.334060,0.013633,0.012825,0.025023,0.034999,7.830719,426.937277,27.149233,16.325766,24.231729,12.229416,17.482414,199.679000,5.306413,1.392232,0.406817,16.380913,12.069084,0.036514,0.398187,26.306572,25.614550,3.567101,4.151984,1.737792,9.871532,240.866420,249.884593,125.276900,117.153234,33.748112,93.651515,14.963556,257.456523,14.239969,2.580198,14.98181,1020.089332,9.344258,0.346931,0.080792,0.583737,0.163835,0.381631,1.180596,0.521738,190.895577,5.710572,0.406817,0.011470,236.759145,187.464743,2167.895372,1021.501168,722.631791,305.505842,21.456308,31.125279,0.002507,34.579073,3.286879,0.0,0.309377
min,2000.000000,34.000000,25.900000,3.820000,58.000000,2011.000000,1752.000000,240.000000,390.000000,73.000000,3.000000,51.000000,231.000000,14.000000,3.000000,179.000000,440.000000,0.212000,0.309000,0.369000,0.686000,83.000000,650.000000,37.000000,12.000000,0.000000,7.000000,1.000000,365.000000,15.000000,26.300000,3.170000,29.000000,17.000000,0.483000,2.800000,58.000000,56.000000,0.000000,0.000000,0.000000,9.000000,473.000000,376.000000,209.000000,181.000000,62.000000,145.000000,0.000000,451.000000,14.000000,0.000000,11.00000,1989.000000,94.000000,3.170000,1.048000,6.900000,0.600000,2.200000,5.800000,1.570000,348.000000,34.000000,3.170000,0.659000,522.000000,355.000000,4257.000000,1941.000000,1419.000000,442.000000,20.000000,33.000000,0.976000,-87.000000,-8.000000,1.0,0.000000
25%,2007.000000,42.000000,28.000000,4.510000,162.000000,6152.000000,5484.000000,724.000000,1384.000000,271.000000,20.000000,161.000000,688.000000,63.000000,23.000000,500.000000,1024.000000,0.253000,0.323000,0.412000,0.737000,98.000000,2241.000000,108.000000,49.000000,19.000000,38.000000,24.000000,1095.000000,21.000000,28.100000,3.890000,90.000000,64.000000,0.556000,3.580000,162.000000,154.000000,1.000000,8.000000,1.000000,40.000000,1441.000000,1294.000000,616.000000,564.000000,145.000000,439.000000,18.000000,1083.000000,46.000000,3.000000,40.00000,6032.000000,105.000000,3.750000,1.226000,8.000000,0.900000,2.800000,7.000000,2.260000,1052.000000,42.000000,3.890000,0.689000,1458.000000,1042.000000,12969.000000,5849.000000,4323.000000,1427.000000,77.000000,124.000000,0.983000,-3.000000,0.000000,1.0,0.000000
50%,2013.000000,46.000000,28.800000,4.850000,162.000000,6232.000000,5528.000000,780.000000,1441.000000,288.000000,26.000000,187.000000,744.000000,88.000000,31.000000,549.000000,1158.000000,0.260000,0.332000,0.429000,0.761000,102.000000,2356.000000,122.000000,59.000000,34.000000,44.000000,37.000000,1135.000000,24.000000,29.000000,4.120000,93.000000,67.000000,0.580000,3.820000,162.000000,158.000000,3.000000,11.000000,2.000000,45.000000,1449.000000,1349.000000,662.000000,609.000000,160.000000,477.000000,29.000000,1225.000000,54.000000,4.000000,48.00000,6106.000000,110.000000,3.980000,1.270000,8.400000,1.000000,3.000000,7.800000,2.600000,1101.000000,45.000000,4.120000,0.697000,1458.000000,1088.000000,13041.000000,6004.000000,4347.000000,1568.000000,89.000000,137.000000,0.985000,20.000000,2.000000,1.0,0.000000
75%,2019.000000,50.000000,29.700000,5.220000,162.000000,6302.000000,5583.000000,829.000000,1497.000000,305.000000,33.000000,215.000000,796.000000,109.000000,39.000000,596.000000,1308.000000,0.270000,0.341000,0.444000,0.783000,109.000000,2467.000000,136.000000,70.000000,55.000000,51.000000,47.000000,1175.000000,28.000000,30.000000,4.410000,97.000000,71.000000,0.599000,4.120000,162.000000,160.000000,7.000000,14.000000,3.000000,49.000000,1457.200000,1419.000000,711.000000,652.000000,181.000000,523.000000,39.000000,1396.000000,63.000000,6.000000,59.00000,6186.000000,116.000000,4.210000,1.324000,8.800000,1.200000,3.300000,8.900000,3.040000,1133.000000,49.000000,4.410000,0.704000,1458.000000,1126.000000,13119.000000,6116.000000,4373.000000,1655.000000,102.000000,153.000000,0.986000,38.000000,4.000000,1.0,0.000000
max,2023.000000,61.000000,32.900000,6.040000,163.000000,6537.000000,5769.000000,978.000000,1667.000000,373.000000,58.000000,307.000000,932.000000,174.000000,74.000000,775.000000,1654.000000,0.290000,0.366000,0.501000,0.851000,125.000000,2832.000000,170.000000,112.000000,98.000000,70.000000,103.000000,1295.000000,41.000000,34.200000,5.200000,116.000000,80.000000,0.717000,4.860000,163.000000,163.000000,18.000000,23.000000,7.000000,66.000000,1489.200000,1555.000000,839.000000,767.000000,248.000000,635.000000,77.000000,1687.000000,92.000000,12.000000,86.00000,6385.000000,146.000000,5.020000,1.498000,9.800000,1.500000,4.300000,11.000000,3.980000,1237.000000,61.000000,5.200000,0.731000,1467.000000,1211.000000,13407.000000,6459.000000,4469.000000,1951.000000,134.000000,196.000000,0.991000,104.000000,9.000000,1.0,1.000000

In [43]:
#Get mean values for playoff dataframe 
mean_playoff_df = df_playoffs.mean().to_frame().T
mean_playoff_df.head()

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,2012.511111,46.4,28.946222,4.872444,154.733333,5959.995556,5284.742222,754.711111,1383.182222,277.617778,...,5733.204444,4152.542222,1492.831111,87.831111,133.804444,0.984671,16.755556,1.666667,1.0,0.106667

In [51]:
#Combie both mean dataframes and create a column to display the differnces between the two
mean_combined = pd.concat([mean_df, mean_playoff_df], ignore_index=True)

# display all columns
pd.set_option('display.max_columns', None)
print(mean_combined)

          Year       #Bat     BatAge       R/G           G           PA  \
0  2011.500000  47.930556  28.660278  4.564194  157.708333  6029.109722
1  2012.511111  46.400000  28.946222  4.872444  154.733333  5959.995556

            AB          RS            H          2B         3B          HR  \
0  5378.838889  719.450000  1384.966667  276.601389  27.866667  171.402778
1  5284.742222  754.711111  1383.182222  277.617778  26.444444  184.600000

          RBI         SB         CS          BB           SO       BA  \
0  685.690278  89.294444  34.209722  508.033333  1165.368056  0.25699
1  720.328889  88.026667  31.520000  533.893333  1140.968889  0.26064

        OBP       SLG       OPS        OPS+           TB         GDP  \
0  0.325478  0.414703  0.740171   97.177778  2231.509722  119.925000
1  0.333173  0.428520  0.761707  103.075556  2267.488889  118.364444

         HBP         SH         SF        IBB          LOB         #P  \
0  57.412500  41.768056  41.959722  34.826389  1097.187500  25.704167
1  59.151111  37.608889  43.382222  36.595556  1092.857778  24.915556

        PAge      RA/G          W          L      W-L%       ERA          GS  \
0  28.605278  4.564153  78.845833  78.845833  0.499996  4.248556  157.708333
1  29.148000  4.150489  89.977778  64.728889  0.581080  3.847644  154.733333

           GF        CG       tSho      cSho         SV           IP  \
0  153.638889  4.069444   9.272222  1.697222  39.686111  1404.852083
1  150.444444  4.288889  11.182222  1.951111  43.520000  1383.939111

           H.1          RA          ER        HR.1        BB.1      IBB.1  \
0  1384.966667  719.450000  662.002778  171.402778  508.033333  34.826389
1  1298.697778  641.955556  590.791111  157.697778  465.284444  29.084444

          SO.1      HBP.1        BK         WP           BF        ERA+  \
0  1165.368056  57.412500  4.987500  52.956944  6029.102778  101.805556
1  1210.164444  54.008889  4.648889  49.360000  5839.995556  111.315556

        FIP      WHIP        H9       HR9       BB9       SO9      SO/W  \
0  4.255194  1.347136  8.860278  1.104167  3.263472  7.507778  2.346778
1  3.985911  1.273484  8.419111  1.035111  3.040889  7.935111  2.652311

         LOB.1       #Fld    RA/G.1    DefEff      GS.1         CG.1  \
0  1095.141667  47.583333  4.564153  0.691093  1419.375  1077.150000
1  1049.208889  46.031111  4.150489  0.697307  1392.600  1038.102222

            Inn           Ch           PO            A          E          DP  \
0  12645.753056  5855.290278  4215.283333  1544.187500  95.819444  141.241667
1  12457.626667  5733.204444  4152.542222  1492.831111  87.831111  133.804444

       Fld%       Rtot   Rtot/yr  Playoff  Champion
0  0.983635   1.076389  0.119444   0.3125  0.033333
1  0.984671  16.755556  1.666667   1.0000  0.106667

In [55]:
# Calculating the difference between consecutive rows
df_diff = mean_combined.diff()

# Selecting the second row to get the difference between the first and second row
difference = df_diff.iloc[1].to_frame().T
display(difference)

,Year,#Bat,BatAge,R/G,G,PA,AB,RS,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB,#P,PAge,RA/G,W,L,W-L%,ERA,GS,GF,CG,tSho,cSho,SV,IP,H.1,RA,ER,HR.1,BB.1,IBB.1,SO.1,HBP.1,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB.1,#Fld,RA/G.1,DefEff,GS.1,CG.1,Inn,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Playoff,Champion
1,1.011111,-1.530556,0.285944,0.30825,-2.975,-69.114167,-94.096667,35.261111,-1.784444,1.016389,-1.422222,13.197222,34.638611,-1.267778,-2.689722,25.86,-24.399167,0.00365,0.007696,0.013817,0.021536,5.897778,35.979167,-1.560556,1.738611,-4.159167,1.4225,1.769167,-4.329722,-0.788611,0.542722,-0.413664,11.131944,-14.116944,0.081084,-0.400911,-2.975,-3.194444,0.219444,1.91,0.253889,3.833889,-20.912972,-86.268889,-77.494444,-71.211667,-13.705,-42.748889,-5.741944,44.796389,-3.403611,-0.338611,-3.596944,-189.107222,9.51,-0.269283,-0.073652,-0.441167,-0.069056,-0.222583,0.427333,0.305533,-45.932778,-1.552222,-0.413664,0.006214,-26.775,-39.047778,-188.126389,-122.085833,-62.741111,-51.356389,-7.988333,-7.437222,0.001036,15.679167,1.547222,0.6875,0.073333

In [104]:
#Copy original dataframe
explore_df = clean_df.copy()
explore_SS = explore_df.copy()

In [105]:
#Write lines to drop columns
explore_SS = explore_SS.drop(columns=['Year'])
explore_SS = explore_SS.drop(columns=['#Bat'])
explore_SS = explore_SS.drop(columns=['BatAge'])
#explore_SS = explore_SS.drop('R/G', axis=1)
explore_SS = explore_SS.drop('PA', axis=1)
explore_SS = explore_SS.drop('AB', axis=1)
explore_SS = explore_SS.drop('RS', axis=1)
explore_SS = explore_SS.drop('H', axis=1)
explore_SS = explore_SS.drop('2B', axis=1)
explore_SS = explore_SS.drop('3B', axis=1)
#explore_SS = explore_SS.drop('HR', axis=1)
explore_SS = explore_SS.drop('RBI', axis=1)
explore_SS = explore_SS.drop('CS', axis=1)
explore_SS = explore_SS.drop('BB', axis=1)
explore_SS = explore_SS.drop('BA', axis=1)
#explore_SS = explore_SS.drop('OBP', axis=1)
#explore_SS = explore_SS.drop('SLG', axis=1)
#explore_SS = explore_SS.drop('OPS', axis=1)
#explore_SS = explore_SS.drop('OPS+', axis=1)
explore_SS = explore_SS.drop('TB', axis=1)
explore_SS = explore_SS.drop('HBP', axis=1)
explore_SS = explore_SS.drop('SH', axis=1)
explore_SS = explore_SS.drop('SF', axis=1)
explore_SS = explore_SS.drop('IBB', axis=1)
explore_SS = explore_SS.drop('LOB', axis=1)
explore_SS = explore_SS.drop('#P', axis=1)
#explore_SS = explore_SS.drop('RA/G', axis=1)
explore_SS = explore_SS.drop('W', axis=1)
explore_SS = explore_SS.drop('L', axis=1)
explore_SS = explore_SS.drop('W-L%', axis=1)
explore_SS = explore_SS.drop('ERA', axis=1)
explore_SS = explore_SS.drop('GF', axis=1)
explore_SS = explore_SS.drop('CG', axis=1)
#explore_SS = explore_SS.drop('tSho', axis=1)
explore_SS = explore_SS.drop('cSho', axis=1)
#explore_SS = explore_SS.drop('SV', axis=1)
explore_SS = explore_SS.drop('IP', axis=1)
#explore_SS = explore_SS.drop('H.1', axis=1)
#explore_SS = explore_SS.drop('RA', axis=1)
#explore_SS = explore_SS.drop('ER', axis=1)
#explore_SS = explore_SS.drop('HR.1', axis=1)
#explore_SS = explore_SS.drop('BB.1', axis=1)
#explore_SS = explore_SS.drop('IBB.1', axis=1)
explore_SS = explore_SS.drop('HBP.1', axis=1)
explore_SS = explore_SS.drop('BK', axis=1)
explore_SS = explore_SS.drop('BF', axis=1)
#explore_SS = explore_SS.drop('ERA+', axis=1)
#explore_SS = explore_SS.drop('FIP', axis=1)
#explore_SS = explore_SS.drop('WHIP', axis=1)
#explore_SS = explore_SS.drop('H9', axis=1)
#explore_SS = explore_SS.drop('BB9', axis=1)
#explore_SS = explore_SS.drop('SO9', axis=1)
explore_SS = explore_SS.drop('SO/W', axis=1)
explore_SS = explore_SS.drop('LOB.1', axis=1)
#explore_SS = explore_SS.drop('#Fld', axis=1)
#explore_SS = explore_SS.drop('RA/G.1', axis=1)
#explore_SS = explore_SS.drop('DefEff', axis=1)
explore_SS = explore_SS.drop('CG.1', axis=1)
explore_SS = explore_SS.drop('Inn', axis=1)
explore_SS = explore_SS.drop('Ch', axis=1)
explore_SS = explore_SS.drop('A', axis=1)
#explore_SS = explore_SS.drop('E', axis=1)
explore_SS = explore_SS.drop('DP', axis=1)
#explore_SS = explore_SS.drop('Rtot', axis=1)
#explore_SS = explore_SS.drop('Rtot/yr', axis=1)
explore_SS = explore_SS.drop('SB', axis=1)
explore_SS = explore_SS.drop('SO', axis=1)
explore_SS = explore_SS.drop('GDP', axis=1)
#explore_SS = explore_SS.drop('PAge', axis=1)
explore_SS = explore_SS.drop('GS', axis=1)
explore_SS = explore_SS.drop('SO.1', axis=1)
explore_SS = explore_SS.drop('WP', axis=1)
#explore_SS = explore_SS.drop('HR9', axis=1)
explore_SS = explore_SS.drop('GS.1', axis=1)
explore_SS = explore_SS.drop('PO', axis=1)
#explore_SS = explore_SS.drop('Fld%', axis=1)
explore_SS = explore_SS.drop('G', axis=1)

In [106]:
#Look at dataframe to Scale
explore_SS

,R/G,HR,OBP,SLG,OPS,OPS+,PAge,RA/G,tSho,SV,H.1,RA,ER,HR.1,BB.1,IBB.1,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,#Fld,RA/G.1,DefEff,E,Fld%,Rtot,Rtot/yr,Playoff,Champion
0,4.60,166,0.322,0.408,0.730,99,28.5,4.70,9,44,1375,761,714,197,525,13,97,4.35,1.324,8.6,1.2,3.3,8.5,53,4.70,0.695,56,0.990,43,4,1,0
1,5.85,307,0.344,0.501,0.845,125,29.9,4.42,15,52,1341,716,662,187,534,14,107,4.10,1.302,8.4,1.2,3.3,9.5,51,4.42,0.685,82,0.986,21,2,1,0
2,4.98,183,0.321,0.421,0.742,107,28.4,4.19,12,49,1334,678,629,177,473,16,105,3.98,1.243,8.3,1.1,2.9,8.9,50,4.19,0.696,71,0.988,37,3,1,0
3,4.77,182,0.324,0.424,0.748,100,30.0,4.79,5,43,1416,776,718,208,497,21,101,4.37,1.338,8.9,1.3,3.1,9.0,56,4.79,0.677,102,0.982,-17,-2,0,0
4,5.06,196,0.330,0.421,0.751,102,29.6,4.46,13,35,1328,723,651,179,513,5,109,4.16,1.283,8.3,1.1,3.2,8.6,48,4.46,0.694,92,0.984,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,5.71,226,0.362,0.472,0.834,115,28.5,4.61,15,47,1452,747,675,151,623,26,102,4.38,1.437,9.0,0.9,3.9,6.7,36,4.61,0.689,93,0.985,6,1,1,0
716,5.48,235,0.356,0.455,0.812,103,29.3,4.76,7,37,1403,771,698,196,606,28,107,4.77,1.401,8.8,1.2,3.8,6.9,46,4.76,0.699,111,0.981,43,4,1,0
717,4.55,162,0.329,0.399,0.728,85,29.3,5.23,8,38,1553,842,773,198,533,33,102,4.85,1.457,9.8,1.2,3.4,6.0,49,5.23,0.684,118,0.981,10,1,0,0
718,5.23,173,0.352,0.446,0.798,100,28.7,6.01,4,39,1683,974,876,202,661,40,91,5.21,1.640,10.6,1.3,4.2,5.8,41,6.01,0.667,135,0.978,-62,-6,0,0
719,5.31,244,0.341,0.469,0.810,101,28.9,5.60,4,37,1615,908,821,195,560,19,98,4.84,1.513,10.1,1.2,3.5,6.1,45,5.60,0.676,100,0.984,1,0,0,0

In [108]:
# Split data into X and two separate y variables
X = explore_SS.drop(columns=['Playoff', 'Champion'])

y_playoff = explore_SS['Playoff']

y_champion = explore_SS[['Champion']]

# Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_playoff_train, y_playoff_test, y_champion_train, y_champion_test = train_test_split(X, y_playoff, y_champion)

In [109]:
# Create the shared layers of the model

# Input layer
input_layer = layers.Input(shape=(X.shape[1],), name='input_features')

# Shared hidden layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

NameError: name 'layers' is not defined

In [ ]:
# Branch for quality prediction
quality_output = layers.Dense(3, activation='softmax', name='quality_output')(shared_layer2)

# Branch for color prediction
color_output = layers.Dense(1, activation='sigmoid', name='color_output')(shared_layer2)

In [ ]:
# Create the model
model = Model(inputs=input_layer, outputs=[quality_output, color_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'quality_output': 'categorical_crossentropy', 'color_output': 'binary_crossentropy'},
              metrics={'quality_output': 'accuracy', 'color_output': 'accuracy'})

# Display the model summary
model.summary()

In [ ]:
# Fit the model
model.fit(
    X,
    {'quality_output': y_quality, 'color_output': y_color},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

In [ ]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test, {'quality_output': y_quality_test, 'color_output': y_color_test})
test_results

In [ ]:
# Print the quality and color accuracy
print(f"Quality Accuracy: {test_results[3]}")
print(f"Color Accuracy: {test_results[4]}")